node_modules
.next
out
build
.env
.env*.local
*.log
.DS_Store
next-env.d.ts
/coverage
/uploads

tsconfig.tsbuildinfo

.vercel
.env*

# Exclude presentation demo guide from git
docs/DEMO_PRESENTATION_GUIDE.md
